


<div class="fluid-container containerzeda">

<div class="row">
<div class="col-md-6">
<!-- მენიუმ რომ იმუშაოს უნდა დამატდეს  jquery.min.js და bootstrap.min.js -->
<div class="dropdown ena">
<button id="enasi" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img style="width: 29px; height: 21px;"
  src="https://image.flaticon.com/icons/svg/555/555417.svg">აირჩიეთ ენა<span class="caret"></span>
</button>

    <ul class="dropdown-menu">
      <li><a href="#">ქართული</a></li>
      <li><a href="#">ინგლისური</a></li>
      <li><a href="#">ფრანგული</a></li>
    </ul>
  </div>


</div>


<div class="col-md-6"><div class="pull-right"><span class="mitana"><a href="#">მიტანის პირობები  <span class="glyphicon glyphicon-question-sign"></span></a></span></div>
</div>


</div>
</div>

<div class="fluid-container">
  <div class="row gacentreba">



<div class="col-lg-2 col-md-2"><span class="logo"><a href="#">thehousestore<sup><span>&reg;</span></sup></a></span></div>


  <div class="col-lg-6 col-md-4" >
    <form action="#">
    <div class="input-group">
      <input  type="text" class="form-control shd" placeholder="&nbsp; &nbsp;რისი პოვნა გსურთ ?" name="search">
      <div class="input-group-btn">
        <button class="btn btn-default butoni" type="submit"><i id="searchc" class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form></div>

    <div class="col-lg-2 col-md-3"><i id="bell" class="glyphicon glyphicon-bell"></i> <i id="heart" class="glyphicon glyphicon-heart-empty"></i>  <i id="folder" class="glyphicon glyphicon-folder-open"></i> <i  id="cart" class="glyphicon glyphicon-shopping-cart"></i>

    </div>
      <div class="col-lg-2 col-md-3">
        <div class="avtoriza">
          <button class="avtoriz" type="submit">ავტორიზაცია</button>
        </div>
    </div>

</div>
</div>



<div class="fluid-container">

  <div class="row">
    <div class="col-md-12" id="md-12">
      <ul class="nav navbar-nav">
        <li>
          <a href="">ავეჯი</a>
        </li>
        <li>
          <a href="">გარე ავეჯი</a>
        </li>
        <li>
          <a href="">კაფე & ბარი</a>
        </li>
        <li>
          <a href="">საოფისე ავეჯი</a>
        </li>
        <li>
          <a href="">სამზარეულო</a>
        </li>
        <li>
          <a href="">დეკორი</a>
        </li>
        <li>
          <a href="">განათება</a>
         </li>
         <li>
          <a href="">ჭურჭელი</a>
         </li>
         <li>
          <a href="">ტექსტილი</a>
         </li>
         <li>
          <a href="">|</a>
         </li>
         <li>
          <a href="">აქციები ფასდაკლებები</a>
         </li>
      </ul>

    </div>


</div>

</div>
