<footer id="footer">

  <div class="ccontainer">
  <div class="row wdz sps">
  <div class="col-xs-12 col-sm-6 col-md-3">
  <ul>
    <li id="satauri">TheHouseStore</li>

    <a href="#"><li>ჩვენს შესახებ</li></a>
    <a href="#"><li>ბრენდები</li></a>
    <a href="#"><li>გახდი პარტნიორი</li></a>
    <a href="#"><li>ხშირად დასმული კითხვები</li></a>
    <a href="#"><li>მიტანის პირობები</li></a>
    <a href="#"><li>განვადება</li></a>
    <a href="#"><li>ფასდაკლების შესახებ</li></a>
   </ul>


  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <ul>
      <li id="satauri">აღმოაჩინე</li>

     <a href="#"><li>შეთავაზებები</li></a>
     <a href="#"><li>კოლექციები</li></a>
     <a href="#"><li>ფილიალები</li></a>
     <a href="#"><li>მაღაზია</li></a>
     <a href="#"><li>ფილოსოფია</li></a>
     <a href="#"><li>ფოკუსი</li></a>
     <a href="#"><li>კონტაკტი</li></a>
   </ul>


    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <ul>
        <li id="satauri">ჩვენი ქსელი</li>

        <a href="#"><li>ლაბორატორია ჩემი სახლი</li></a>
        <a href="#"><li>მობლერი</li></a>
        <a href="#"><li>კარე</li></a>
        <a href="#"><li>ჩემი ოფისი</li></a>
        <a href="#"><li>გსურს შემოგვიერთდე</li></a>
  </ul>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul>
          <li id="satauri">ინფორმაცია</li>

         <li>აღმაშენებლის ხეივანი მე-12 კმ</li>
         <li>ვაჟა-ფშაველას   N70, ს.ც. "სითი მოლი"</li>
         <li id="satauri">მაჩვენე რუკა</li>
         <input type="text" placeholder="myhome3@icr.ge">
         <input type="text" placeholder="myhome3@icr.ge">
     </ul>



        </div>
  </div>
  </div>






  </footer>
<hr>
  <div class="fluid-container dashoreba">

    <div class="row">

<div class="col-md-1"></div>
<div class="col-md-1"><span id="klite" class="glyphicon glyphicon-lock"></span>
</div>

<div class="col-md-3">
  გადაიხადეთ მარტივად და უსაფრთხოდ, Visa, Mastercard,
  Paypal ან Google Pay-ის საშუალებით. ჩვენ ვუზრუნველყოფთ
  თქვენ უსაფრთხოებას.</div>
  <div class="col-md-3"></div>

<div class="col-md-4">
  <span id="klite" class="glyphicon glyphicon-lock"></span><span id="klite" class="glyphicon glyphicon-lock"></span><span id="klite" class="glyphicon glyphicon-lock"></span><span id="klite" class="glyphicon glyphicon-lock"></span>
</div>
    </div>
  </div>


  <div class="fluid-container copyr">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">Developed By Sphero</div>
      <div class="col-md-3"> &copy; 2020 TheHouseStore</div>
      <div class="col-md-3"><a href="#">Privacy</a> &nbsp; <a href="#">Cookies</a>  &nbsp; <a href="#">Terms & Conditions</a> &nbsp; <a href="#">RSS</a></div>
    </div>
  </div>
